/* ----------------- Driver Dashboard Styles ---------------- */


.page-container .section .container .search{
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

.page-container .section .container .search input{
    height: 50px;
    border-radius: 20px;
    transition: 0.5s;
}

.page-container .section .container .search input:hover{
    border-radius: 20px;
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.15);
    scale: 1.03;
}

.page-container .section .container .search input:focus{
    border-radius: 20px;
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.15);
    scale: 1.03;
}

@media screen and (max-width: 720px){
    .page-container .section .container{
        margin-left: 20px;
        transition: left 0.5s ease-in;
    }
}

/* ----------------- Driver Vehicle Styles ---------------- */
.page-container .section .container .emptyVehicle{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(253, 198, 62, 0.07);
    border: 2px dotted rgba(253, 198, 62, 0.24);
    text-align: center;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgba(140, 140, 140, 0.87);
    font-size: 20px;
}
