/* ----------------- Driver Dashboard Styles ---------------- */
.page-container .section .container{
    transition: 0.5s;
    margin-left: 270px;
}

.page-container .section .container .map{
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.10);
    height: 70vh;
}

.page-container .section .container .map:hover{
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.page-container .section .container .search{
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

.page-container .section .container .search input{
    height: 50px;
    border-radius: 20px;
    transition: 0.5s;
}

.page-container .section .container .search input:hover{
    border-radius: 20px;
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.15);
    scale: 1.03;
}

.page-container .section .container .search input:focus{
    border-radius: 20px;
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.15);
    scale: 1.03;
}

.page-container .section .container .map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.page-container .section .container .map img{
    width: 40px;
    top: 348px;
    left: 361px;
    position: absolute;
}

@media screen and (max-width: 720px){
    .page-container .section .container{
        margin-left: 20px;
        transition: left 0.5s ease-in;
    }

    .page-container .section .container .map img{
        width: 40px;
        top: 348px;
        left: 20px;
        position: absolute;
    }
}

/* ----------------- Driver Vehicle Styles ---------------- */
.page-container .section .container .emptyVehicle{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(253, 198, 62, 0.07);
    border: 2px dotted rgba(253, 198, 62, 0.24);
    text-align: center;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgba(140, 140, 140, 0.87);
    font-size: 20px;
}
