/* ----------------- Merchandiser Dashboard Styles ---------------- */
.page-container .section .container .emptyLand{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(253, 198, 62, 0.07);
    border: 1px solid rgba(253, 198, 62, 0.24);
    text-align: center;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #8c8c8c;
    font-size: 20px;
}

/* ----------------- Mechandiser Land Styles ---------------- */
.page-container .section .container .emptyLand{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(253, 198, 62, 0.07);
    border: 2px dotted rgba(253, 198, 62, 0.24);
    text-align: center;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgba(140, 140, 140, 0.87);
    font-size: 20px;
}