/* --------------- Components Styles --------------- */
@import url('components/topnavbar.css');
@import url('components/formStyles.css');
@import url('components/sidenavbar.css');
@import url('components/dashboardCards.css');

/* ---------------- External Styles ---------------- */
@import url('landingpage.css');
@import url('driver.css');
@import url('merchandiser.css');

/* ----------------- General Styles ---------------- */
body{
    background-color: #f8f8f8;
}
*{
    font-family: 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

.page-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: 50px;
}

.page-container .section{
    margin: 1vh 2vw;
}

.page-container .section .container{
    transition: 0.5s;
    margin-left: 270px;
}

@media screen and (max-width: 940px){
    .page-container .section .container{
        margin-left: 20px;
        transition: left 0.5s ease-in;
    }
}

.page-container .section .side-cards{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 30px;
    top: 100px;
    width: 360px;
    padding: 20px 0 20px 0;
    height: 75vh;
    overflow-scrolling: auto;
    transition: right 0.5s ease-in;
}

.page-container .section .side-cards h2{
    text-align: center;
}

.page-container .section .side-cards p{
    margin-left: 20px;
    font-size: 15px;
    width: calc(100% - 40px);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.page-container .section .side-cards p span{
    width: 50px;
    height: 50px;
    color: #fdc63e;
    margin-right: 10px;
    font-size: 10px;
}

.page-container .section .side-cards .side-card{
    background-color: white;
    width: calc(100% - 20px);
    /*margin: 10px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
}

.page-container .section .side-cards .side-card .date-time{
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #8c8c8c;
    text-align: center;
}

.page-container .section .side-cards .side-card .parking{
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: green;*/
}

.page-container .section .side-cards .side-card .transaction-type{
    width: 20%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: blue;*/
}

.page-container .section .side-cards .side-card .in{
    color: red;
}

.page-container .section .side-cards .side-card .out{
    color: #00bb00;
}

.page-container .section .container h1{
    text-align: left;
    margin-top: 50px;
    font-size: 30px;
}

.page-container .section .container .charts{
    margin-right: 400px;
    margin-left: 10px;
    margin-top: 35px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.1);
    padding: 20px 5px 20px 6px;
}

.page-container .section .container .charts h2{
    padding-bottom: 10px;
    text-align: center;
}

.page-container .section .container .charts .chart-container{
    display: flex;
    justify-items: center;
}

.page-container .section .container .charts .chart-container .chart{
    width: 50%;
}

@media screen and (max-width: 1330px){
    .page-container .section .container .charts .chart-container{
        display: grid;
    }

    .page-container .section .container .charts .chart-container .chart{
        width: 80%;
    }

    .page-container .section .side-cards{
        width: 300px;
    }

    .page-container .section .container .charts{
        margin-right: 350px;
    }
}

@media screen and (max-width: 1140px){
    .page-container .section .container .charts .chart-container .chart{
        width: 90%;
    }
}

@media screen and (max-width: 1070px){
    .page-container .section .container .charts .chart-container .chart{
        width: 95%;
    }
}

@media screen and (max-width: 720px){
    .page-container .section .side-cards{
        right: -300px;
        transition: right 0.5s ease-in;
    }

    .page-container .section .container .charts{
        margin-right: 30px;
    }
}

.container .error-img{
    width: 50px
}

.container .error-btn{
    text-decoration: none;
    border: 2px solid rgb(255,167,41);
    border-radius: 20px;
    padding: 10px;
    color: black;
    transition: 0.5s;
}

.container .error-btn:hover{
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.20);
    scale: 1.1;
}

/* ------------------------------- SVG Styles ------------------------------- */
.svg .svg-1{
    width: 700px;
    position: absolute;
    top: -250px;
    left: -250px;
    z-index: -1;
}

.svg .svg-2{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

/* --------------------- Loading Page -------------------- */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.logo-container {
    margin-bottom: 20px;
}

.loader-wrapper img{
    width: 20vw;
    z-index: 100;
}

.loader {
    border: 8px solid #f1f1f1;
    border-top: 8px solid rgb(255,167,41);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ---------------------------------- Content Table Style ---------------------------------- */
.page-container .section .container .add-btn{
    text-decoration: none;
    background-color: #fdc63e;
    width: 100%;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5vw;
}

.page-container .section .container .add-btn:hover{
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.20);
}

.page-container .section .container .sub-option {
    text-decoration: none;
    background-color: #fdc63e;
    width: 100%;
    color: #000000;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 2px;
}

.page-container .section .container .table-container{
    margin-left: 5vw;
    margin-right: 5vw;
}

.page-container .section .container .table{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50px;
}

.page-container .section .container th{
    background-color: #ffffff;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.page-container .section .container tr{
    background-color: #fff;
}

.page-container .section .container td{
    border-bottom: none;
    width: 100%;
}

.page-container .section .container td .tile{
    color: #000000;
    text-decoration: none;
}

.page-container .section .container td .content{
    display: flex;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    padding-right: 20px;
}

.page-container .section .container td .content:hover{
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.15);
    scale: 1.02;
    display: flex;
    width: 100%;
}

.page-container .section .container td .content .left{
    width: 70%;
    padding-top: 18px;
    padding-left: 20px;
}


.page-container .section .container td .content .right{
    width: 30%;
    display: flex;
    align-items: end;
    padding-top: 7px;
    justify-content: flex-end;
}

.page-container .section .container td .content .right .price{
    background-color: white;
    border: none;
    margin-top: 12px;
}

.page-container .section .container td .content .right .price img{
    width: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.page-container .section .container td .content .right .price img:hover{
    scale: 1.1;
}

.page-container .section .container td .content .right .delete{
    background-color: white;
    border: none;
    margin-top: 12px;
}

.page-container .section .container td .content .right .delete img{
    width: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.page-container .section .container td .content .right .delete img:hover{
    scale: 1.1;
}

.page-container .section .container td .content .right .edit{
    background-color: white;
    border: none;
    margin-top: 12px;
}

.page-container .section .container td .content .right .edit img{
    width: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.page-container .section .container td .content .right .edit img:hover{
    scale: 1.1;
}


/* ---------------------------------- Dropdown Styles ---------------------------------- */
.dropbtn {
    background-color: #fdc63e;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 300px;
    top: 100px;
    transition: 0.5s;
}

@media screen and (max-width: 940px){
    .dropdown{
        left: 40px;
        transition: left 0.5s ease-in;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fdc63e;
}


/* ---------------------------------- Dynamic Content Table ---------------------------------- */
.hide{
    display: none;
}

.user-cards{
    width: 100%;
    margin-top: 40px;
}

.user-cards .card{
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    transition: 0.5s;
    margin-right: 20px;
    border-top: 1px solid rgba(51, 51, 51, 0.164);
}

.user-cards .card:hover{
    scale: 1.05;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 8px 0.1px rgba(0, 0, 0, 0.15);
}

.user-cards .card .options{
    display: flex;
}

.user-cards .card .options .price{
    background-color: white;
    border: none;
    margin-top: 12px;
}

.user-cards .card .options .price img{
    width: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.user-cards .card .options .price img:hover{
    scale: 1.1;
}

.user-cards .card .options .delete{
    background-color: white;
    border: none;
    margin-top: 12px;
}

.user-cards .card .options .delete img{
    width: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.user-cards .card .options .delete img:hover{
    scale: 1.1;
}

.user-cards .card .options .edit{
    background-color: white;
    border: none;
    margin-top: 12px;
}

.user-cards .card .options .edit img{
    width: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.user-cards .card .options .edit img:hover{
    scale: 1.1;
}


/* ---------------------------------- Land Search Bar ---------------------------------- */
.data-search{
    position: absolute;
    right: 35px;
    top: 190px;
    border-radius: 20px;
    outline: none;
    border: 0px solid rgba(0, 0, 0, 0.247);
    padding: 10px 5px 10px 15px;
    width: 150px;
    transition: 0.5s;
    box-shadow: 0 0 4px 0.1px rgba(0, 0, 0, 0.2);
}

.data-search:hover{
    width: 250px;
}

.data-search:focus{
    width: 250px;
}

/* ---------------------------------- Profile Styles ---------------------------------- */
.page-container .section .container .form-container .profile-container{
    width: 100%;
    display: grid;
    place-items: center;
}

.page-container .section .container .form-container .profile-container .profile-pic{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.5s;
}

.page-container .section .container .form-container .profile-container .profile-pic:hover{
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.15);
    scale: 1.05;
    cursor: pointer;
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-pic-edit{
    width: 15px;
    transition: 0.5s;
    position: relative;
    transform: translate(-26px, -20px);
    background-color: white;
    padding: 5px;
    border-radius: 30%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-pic-edit:hover{
    cursor: pointer;
    background-color: #f6f6f6;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-dropdown-content{
    display: none;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.16);
    position: absolute;
    transform: translate(-26px, -20px);
    margin-top: 10px;
    border-radius: 10px;
    z-index: 1;
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-dropdown-content-active{
    display: grid;
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-dropdown-content .dropdown-item{
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-dropdown-content .dropdown-item:hover{
    background-color: #f6f6f6;
    padding: 10px;
}
