/* --------------- Components Styles --------------- */
@import url('components/topnavbar.css');
@import url('components/formStyles.css');
@import url('components/sidenavbar.css');
@import url('components/dashboardCards.css');
@import url('components/dashboard.css');
@import url('components/dynamicContentTable.css');
@import url('components/staticContentTable.css');

/* ---------------- External Styles ---------------- */
@import url('landingpage.css');
@import url('driver.css');
@import url('merchandiser.css');
@import url('adminlandrequeststyle.css');

/* ----------------- General Styles ---------------- */
body{
    /*background-color: #f8f8f8;*/
    overflow-x: hidden;
}

*{
    font-family: 'Trebuchet MS', sans-serif;
}

select{
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(138,138,138,0.35);
    color: #8a8a8a;
    background-color: white;
}

textarea{
    background-color: white;
    border: 1px solid rgba(138,138,138,0.37);
    border-radius: 10px;
    color: #8a8a8a;
    padding: 10px;
    max-width: 100%;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    height: 100px;
    resize: none;
}

/* --- Selection styles --- */
::selection {
    background-color: rgba(252, 204, 4, 0.34);
    color: black;
}

::-moz-selection {
    background-color: rgba(252, 204, 4, 0.34);
    color: black;
}

/* --- Scroll bar styles --- */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255,167,41);
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fccc04;
}

a{
    text-decoration: none;
    color: black;
}

.page-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: 50px;
}

.page-container .section{
    margin: 1vh 2vw;
}

.page-container .section .container{
    transition: 0.5s;
    margin-left: 270px;
}

@media screen and (max-width: 940px){
    .page-container .section .container{
        margin-left: 20px;
        transition: 1s, transform 1s;
    }
}

.page-container .section .container .content-body{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.12);
    margin-right: 15px;
}

.page-container .section .container .title{
    color: #ffc32d;
    transform: translateY(15px);
}

.page-container .section .container .subtitle{
    color: rgba(0, 0, 0, 0.34);
    font-size: 10px;
}

.container .error-img{
    width: 50px
}

.container .error-btn{
    text-decoration: none;
    border: 2px solid rgb(255,167,41);
    border-radius: 20px;
    padding: 10px;
    color: black;
    transition: 0.5s;
}

.container .error-btn:hover{
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.20);
    scale: 1.1;
}

/* ------------------------------- SVG Styles ------------------------------- */
.svg-1{
    width: 700px;
    position: absolute;
    top: -250px;
    left: -250px;
    z-index: -1;
}

.svg-2{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* --------------------- Loading Page -------------------- */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.logo-container {
    margin-bottom: 20px;
}

.loader-wrapper img{
    width: 20vw;
    z-index: 100;
}

.loader {
    border: 8px solid #f1f1f1;
    border-top: 8px solid rgb(255,167,41);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ---------------------------------- Dropdown Styles ---------------------------------- */
.dropbtn {
    background-color: #fdc63e;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 300px;
    top: 100px;
    transition: 0.5s;
}

@media screen and (max-width: 940px){
    .dropdown{
        left: 40px;
        transition: left 0.5s ease-in;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fdc63e;
}

/* ---------------------------------- Profile Styles ---------------------------------- */
.page-container .section .container .form-container .profile-container{
    width: 100%;
    display: grid;
    place-items: center;
}

.page-container .section .container .form-container .profile-container .profile-pic{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.5s;
}

.page-container .section .container .form-container .profile-container .profile-pic:hover{
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.15);
    scale: 1.05;
    cursor: pointer;
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-pic-edit{
    width: 15px;
    transition: 0.5s;
    position: relative;
    transform: translate(-26px, -20px);
    background-color: white;
    padding: 5px;
    border-radius: 30%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-pic-edit:hover{
    cursor: pointer;
    background-color: #f6f6f6;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-dropdown-content{
    display: none;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.16);
    position: absolute;
    transform: translate(-26px, -20px);
    margin-top: 10px;
    border-radius: 10px;
    z-index: 1;
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-dropdown-content-active{
    display: grid;
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-dropdown-content .dropdown-item{
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.page-container .section .container .form-container .profile-container .profile-dropdown-container .profile-dropdown-content .dropdown-item:hover{
    background-color: #f6f6f6;
    padding: 10px;
}


/* ---------------------------------- Parking view styles ---------------------------------- */
.page-container .section .container .cover-img{
    width: 98%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
    height: 300px;
    overflow: clip;
    transform: translateY(50px);
}

.page-container .section .container .cover-photo{
    width: 100%;
    height: 300%;
    transform: translateY(-250px);
    border-radius: 20px;
}

.page-container .section .container .details{
    transform: translateY(50px);
}

/* -------------------------- Report Page -------------------------- */
.page-container .section .container .report-container{
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 1s, transform 1s;
}

.page-container .section .container .report-container .report-img{
    margin-left: 5%;
    padding: 20px;
    width: 60%;
    text-align: center;
    transition: 1s, transform 1s;
}

.page-container .section .container .report-container .report-img img{
    width: 300px;
    transition: 1s, transform 1s;
}

.page-container .section .container .report-container .report-img .text-heading{
    text-align: center;
    font-size: 18px;
    color: #626262;
}

.page-container .section .container .report-container .report-img .gen-area{
    text-align: center;
}

.page-container .section .container .report-container .report-img .gen-area .gen-btn, .view-btn, .download-btn{
    padding: 10px;
    background-color: #fdc63e;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: 0.3s;
}

.page-container .section .container .report-container .report-img .gen-area .gen-btn, .view-btn, .download-btn:hover{
    cursor: pointer;
    background-color: #ffb700;
}

.page-container .section .container .report-container .report-des{
    padding-left: 5%;
    padding-right: 5%;
    margin: 10px;
    /*background-color: green;*/
    transition: 1s, transform 1s;
}

.page-container .section .container .report-container .report-des .report-ins{
    transform: translateX(-30px);
    color: #626262;
}

.page-container .section .container .report-container .report-des .report-ins ul li{
    margin-top: 20px;
}

@media screen and (max-width: 1560px){
    .page-container .section .container .report-container .report-img{
        margin-left: 1%;
        padding: 20px;
        width: 50%;
        text-align: center;
    }

    .page-container .section .container .report-container .report-des{
        padding-left: 1%;
        padding-right: 1%;
        margin: 10px;
    }
}

@media screen and (max-width: 970px){
    .page-container .section .container .report-container .report-img{
        margin-left: 1%;
        padding: 20px 10px;
        width: 50%;
        text-align: center;
    }

    .page-container .section .container .report-container .report-des{
        padding-right: 1%;
        margin: 5px;
    }
}

@media screen and (max-width: 680px){
    .page-container .section .container .report-container .report-img{
        margin-left: 1%;
        padding: 20px 10px;
        width: 100%;
        text-align: center;
    }

    .page-container .section .container .report-container .report-des{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .page-container .section .container .report-container .report-img img{
        width: 250px;
    }
}


/* -------------------------------- Toggle button styles -------------------------------- */
.toggle-title{
    transform: translate(10px, 70px);
}

.toggle .switchAccess {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    transform: translate(0px, 10px);
    
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    scale: 0.9;
    transform: translate(120px, 50px);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #fccc04;
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(255, 255, 255, 0);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
