.page-container .section .container .cards{
    margin-top: 80px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.page-container .section .container .cards .card-link {
    text-decoration: none;
    color: black;
}

.page-container .section .container .cards .card{
    width: 180px;
    box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;
    height: 100px;
}

.page-container .section .container .cards .card:hover{
    scale: 1.05;
    box-shadow: 0px 0px 15px 0.1px rgba(252, 213, 38, 0.452);
}

.page-container .section .container .cards .card-link .card{
    text-decoration: none;
    padding: 0;
    margin-top: 10px;
    background-color: white;
}

.page-container .section .container .cards .card-link .card .row{
    display: flex;
    justify-content: center;
    height: 100%;
}

.page-container .section .container .cards .card-link .card .row .left-col{
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #fdc63e;
    border-radius: 10px 0 0 10px;
}

.page-container .section .container .cards .card-link .card .row .right-col{
    width: 130px;
    padding-top: 30px;
    padding-left: 10px;
}

.page-container .section .container .cards .card-link .card .row .left-col .sub-row{
    display: grid;
    height: 100%;
}

.page-container .section .container .cards .card-link .card .row .left-col .sub-row .top-row{
    width: 50px;
}

.page-container .section .container .cards .card-link .card .row .left-col .sub-row .top-row img{
    width: 70%;
}

.page-container .section .container .cards .card-link .card .row .left-col .sub-row .bottom-row{
    width: 50px;
    padding-left: 10px;
}

/* .page-container .section .container .cards .card button{
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: none;
} */



/* .page-container .section .container .cards .card table{
    width: 100%;
    border-radius: 10px;
    position: relative;
    transform:translateY(10px);
} */

/* .page-container .section .container .cards .card table th{
    background: white;
    width: 30%;
    text-align: center;
    border: none;
}

.page-container .section .container .cards .card table td{
    background: white;
    width: 70%;
    border: none;
}

.page-container .section .container .cards .card img{
    width: 20px;
    border: none;
} */