/* --------------------------- Common form styles ------------------------- */

.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    width: 60%;
    max-width: 500px;
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s, transform 1s;
}

.form-container .form-input-title{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.47);
}

.form-container .type-select{
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-container .type-select a{
    text-decoration: none;
    color: black;
}

.form-container .type-select .type-select-btn{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 30px 0 30px 0;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    background-color: white;
}

.form-container .type-select .type-select-btn:hover{
    scale: 1.05;
    background: linear-gradient(to right, rgb(248,215,90), rgb(255, 188, 19));
}

.form-container.reveal{
    opacity: 1;
    transform: translateY(0px);
}

.form-container form{
    overflow: hidden;
    position: relative;
    padding: 10px 30px 30px 30px;
}

@media screen and (max-width: 700px) {
    .form-container {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .form-container {
        width: 90%;
    }
}

.form-container .other-options{
    text-align: center;
    padding: 0px 30px 15px 30px;
}

.form-container .other-options p{
    color: #cccccc;
}

.form-container .other-options a{
    color: #fdc63e;
    text-decoration: none;
}

.form-container h1{
    text-align: center;
    background: linear-gradient(to right, rgb(248,215,90), rgb(255, 180, 19));
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
}

.form-container form{
    margin-top: 10px;
}

input[type=text], input[type=password], input[type=email], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px 0;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    transition: ease-in 0.3s;
}

input[type=date]{
    padding: 5px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    transition: 1s, transform 1s;
}

@media screen and (max-width: 380px){
    input[type=date]{
        padding: 4px 4px;
    }
}

input[placeholder]{
    color: rgba(0, 0, 0, 0.47);
}

.form-container .file-upload-container{
    display: flex;
    padding-top: 10px;
}

.form-container .file-upload-container .file-upload{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0.1px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    transition: 0.5s;
}

.form-container .file-upload-container .file-upload:hover{
    box-shadow: 0 0 8px 0.1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.form-container .file-upload-container .description{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.38);
}

input[type=text]:hover, input[type=password]:hover, input[type=email], input[type=number]:hover {
    border-bottom: 1px solid #9a9a9a;
}

.input-box-err{
    border: 1px solid red;
}

input[type=submit] {
    width: 100%;
    background-color: #fcd426;
    color: #000000;
    padding: 12px 20px;
    margin: 8px 0 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

input[type=submit]:hover {
    background-color: #ffc400;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.25);
}

.strength-text{
    font-size: 12px;
}

.error-msg{
    text-align: center;
    color: red;
    font-size: 15px;
    background-color: rgba(255, 0, 0, 0.07);
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px 10px 20px;
}

.user-selection-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-input-title {
    margin-right: 10px;
    margin-top: 20px;
}

/* ----------------- User Selection ----------------- */
.user-selection-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.user-selection-list li {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.user-selection-list li:hover {
    box-shadow: 0 0 6px 0.1px rgba(0, 0, 0, 0.22);
}

.user-selection-list li.selected {
    background-color: #45a049;
    color: #fff;
}

.additional-fields {
    margin-top: 10px;
    display: none;
}

/* ----------------- Land register form ----------------- */
.land-register-form {
    margin-left: 0;
    width: 80vw;
    max-width: calc(80vw - 450px);
    margin-top: 50px;
}

.land-register-form-expand {
    margin-left: 0;
    width: 80vw;
    max-width: calc(80vw - 100px);
}

@media screen and (max-width: 940px){
    .land-register-form {
        margin-left: 0;
        width: 80vw;
        max-width: calc(80vw - 240px);
    }

    .land-register-form-expand {
        margin-left: 0;
        width: 95vw;
        max-width: calc(95vw - 40px);
    }
}

@media screen and (max-width: 720px){
    .land-register-form {
        margin-left: 0;
        width: 100vw;
        max-width: calc(100vw - 70px);
    }
}

