.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    width: 60%;
    max-width: 500px;
    box-shadow: 0 0 15px 0.1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #ffffff;
}

.form-container form{
    padding: 10px 30px 30px 30px;
}

.form-container .other-options{
    text-align: center;
    padding: 0px 30px 30px 30px;
}

.form-container .other-options p{
    color: #cccccc;
}

.form-container .other-options a{
    color: #fdc63e;
    text-decoration: none;
}

.form-container h1{
    text-align: center;
    background-color: #fdc63e;
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #fcd426;
    color: #000000;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

input[type=submit]:hover {
    background-color: #ffc400;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.25);
}

.strength-text{
    font-size: 12px;
}

.error-msg{
    text-align: center;
    color: red;
    font-size: 15px;
    background-color: rgba(255, 0, 0, 0.07);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.user-selection-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-input-title {
    margin-right: 10px;
    margin-top: 20px;
}


/* ----------------- User Selection ----------------- */
.user-selection-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.user-selection-list li {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.user-selection-list li:hover {
    box-shadow: 0 0 6px 0.1px rgba(0, 0, 0, 0.22);
}

.user-selection-list li.selected {
    background-color: #45a049;
    color: #fff;
}

.additional-fields {
    margin-top: 10px;
    display: none;
}