.topnav{
    overflow: hidden;
    background-color: white;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.1);
}

.topnav .items .item{
    float: right;
    color: rgba(0, 0, 0, 0.62);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    transition: 0.2s;
}

.topnav .items .item:hover{
    scale: 1.05;
}

.topnav .items .notification {
    padding: 4px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    right: 70px;
    top: 10px;
    z-index: 10;
    color: white;
    font-size: 10px;
}

.topnav .items .logo{
    float: left;
    transition: 0.5s;
    margin-left: 1vw;
}

.topnav .items .logo:hover{
    scale: 1.1;
}

.topnav .items .item:hover {
    color: black;
}
